/*#iconbar			{ position:absolute; top:15%; left:8%;}*/
#iconbar			{ position:absolute; margin-top: 80px; padding-left: 50px;}
#iconbar li			{
	float:left;
	position:relative;
	margin-right:10px;
	overflow:hidden;
	font-family: "Trebuchet MS";
}
#iconbar a {
	font-family: "Trebuchet MS";
	text-decoration: none;
	outline: none;
	color:#1f1f1f;
	display: block;
	width: 58px;
	padding: 5px;
	cursor:pointer;
}
#iconbar span	{
	font-family: "Trebuchet MS";
	width: 58px;
	height: 38px;
	position: absolute;
	display: none;
	color:#1f1f1f;
    font-size: 8px;
    line-height: 8px;
    font-weight: bold;
	padding-left: 2px;
    padding-top: 10px;
}