
BODY {
FONT-SIZE: 10px; 
CURSOR: default; 
COLOR: #ffffff; 
BACKGROUND-color: #2E2E2E; 
FONT-FAMILY:   verdana; 
TEXT-DECORATION: none
    scrollbar-face-color: #DCE7F1;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    SCROLLBAR-BASE-color:  #333333;
    SCROLLBAR-ARROW-color: #01A601;
}
A:link {
FONT-SIZE: 11px; 
COLOR: #01A601; 
FONT-FAMILY:  verdana; 
TEXT-DECORATION: none
}
A:visited {
FONT-SIZE: 11px; 
COLOR: #01A601; 
FONT-FAMILY:  verdana; 
TEXT-DECORATION: none
}
A:active {
FONT-SIZE: 11px; 
COLOR: #01A601; 
FONT-FAMILY:   verdana; 
TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 11px;
	COLOR: Silver;
	FONT-FAMILY: verdana;
	TEXT-DECORATION: none;
}

H1 {
FONT-WEIGHT: bold; 
FONT-SIZE: 10px; 
COLOR: #ffffff; 
FONT-FAMILY:  verdana; 
LETTER-SPACING: 0px; 
TEXT-DECORATION: none
}

P {
FONT-SIZE: 10px; 
COLOR: #ffffff; 
LINE-HEIGHT: 1.4; 
FONT-FAMILY:  verdana; 
TEXT-DECORATION: none
}


table.lista {
    background-color: #1D1D1D;
    border: 1px #01A601 solid;
}

td.block {
FONT-WEIGHT: bold; 
FONT-SIZE: 10px;
background-image: url(title.jpg); 
COLOR: #01A601; 
FONT-FAMILY: verdana; 
LETTER-SPACING: 0px; 
TEXT-DECORATION: none

}

td.blocklist {
background-color : #000000;
BORDER-TOP: #3e3e3e 1px solid; 
BORDER-BOTTOM: #000000 1px solid; 
BORDER-LEFT: #3e3e3e 1px solid; 
BORDER-RIGHT: #000000 1px solid;
}

td.lista {
background-color : #171717;
BORDER-TOP: #3e3e3e 1px solid; 
BORDER-BOTTOM: #000000 1px solid; 
BORDER-LEFT: #3e3e3e 1px solid; 
BORDER-RIGHT: #000000 1px solid;
}

td {
}

td.header {
           font-weight:bold;
           color:#FFFFFF;
           padding:0px;
           margin:0px;
           background-color: #3860BB;
           background-image: url(tables_05.jpg);
}

td.title {
  font-weight: bold; font-size: 10px ; letter-spacing: 0px; color : #ffffff};
}

td.navigation {
    background-color: #373737;
    font-weight: bold;
    font-size: 8pt;
}

form {
    margin-top: 0;
    margin-bottom: 0;
}

.sublink {
    font-style: italic;
    font-size: 7pt;
    font-weight: normal;
}

a.index {
    font-weight: bold;
}

a.biglink {
    font-weight: bold;
    font-size: 10pt;
}

.important {
    font-weight: bold;
    font-size: 10pt;
}

td.red {
    background-color:#2E2E2E;
    color: red;
}


td.yellow {
    background-color:#2E2E2E;
    color: #BEC635;
}


td.green {
    background-color:#2E2E2E;
    color: green;
}

td.progress {
    padding: 0px;
    background-image: url(backprogress.gif);
    background-repeat: repeat-x;
    height: 10px;
}

td.red a:link {
    color: red;
}
td.red a:visited {
    color: red;
}

td.yellow a:link {
    color: #BEC635;
}
td.yellow a:visited {
    color: #BEC635;
}

td.green a:link {
    color: green;
}

td.green a:visited {
    color: green;
}
li{
list-style-position:inside;
} 

input {
font-size: 10px;
}
input.1 {
background-color : #1C1C1C;
font-size: 10px;
color: #01A601;
}