a:link, a:visited {
font-size: 8pt; 
color: #6C6F6D; 
font-family:  arial, helvetica, verdana, sans-serif; 
text-decoration: none;
}

a:active, a:hover {
font-size: 8pt; 
color: #000000; 
font-family:  arial, helvetica, verdana, sans-serif; 
text-decoration: none;
}

body { 
cursor: default; 
color: #797C7A; 
background-color: #E3E3E3;
background-image: url('images/bg2.gif'); 
font-family:  arial, helvetica, verdana, sans-serif; 
text-decoration: none;
scrollbar-base-color:  #B8B8B8;
scrollbar-arrow-color: #909090;
}

.highlight {
  background: #F8F81A;
  color: #FF0000;
}

select {
	color : #6A696B;
	font: normal 8pt Arial, Helvetica, sans-serif;
	background: #D2D0D0;
}

/* Quote & Code blocks */
.code {
	font-family: Courier, 'Courier New', sans-serif; font-size: 8pt; color: #656565;
	background-color:#B5B4B4; border:1px solid; border-color:#272E34 #868686 #868686 #272E34;
}

.quote {
	font-family: Courier, 'Courier New', sans-serif; font-size: 8pt; color: #656565;
	background-color: #B5B4B4; border:1px solid; border-color:#272E34 #EBECED #EBECED #272E34;
}

.btn{
  background: #000A0A;
  border: 1px solid #680000;
  color: #B92100;
  font-family: Verdana, Helvetica, Sans-Serif;
  font-size: 8pt;
  padding: 2px;
  vertical-align: middle;
  cursor: pointer;

}

textarea {
background-image: url('images/bg.gif');
background-repeat: repeat;
color:#4B4B4B;
font-size: 8pt;
font-family: Arial,Helvetica,sans-serif;
background-color : #7B7B7B;
border-top: 1px solid #7B7B7B; 
border-bottom: 1px solid #AEAEAE; 
border-left: 1px solid #7B7B7B; 
border-right: 1px solid #AEAEAE;
}

p {
font-size: 8pt; 
color: #797C7A; 
line-height: 1.4; 
font-family:  arial, helvetica, verdana, sans-serif; 
text-decoration: none;
}

/* Form elements */
input {
background:#D1D0D0;
color:#272E34;
font:8pt Arial,Helvetica,sans-serif;
border-top: #807D7D 1px solid; 
border-bottom: #ffffff 1px solid; 
border-left: #807D7D 1px solid; 
border-right: #ffffff 1px solid;
}

/* The text input fields background colour */
input.post, textarea.post {
	background-color : #B5B4B4;
}

input { text-indent : 2px; }

/* The buttons used for bbCode styling in message post */
input.button {
	background:#B5B4B4;
color:#272E34;
font:8pt Arial,Helvetica,sans-serif;
border-top: #5d5d5d 1px solid; 
border-bottom: #ffffff 1px solid; 
border-left: #5d5d5d 1px solid; 
border-right: #ffffff 1px solid;
}

/* The main submit button option */
input{
	background:#B5B4B4;
color:#272E34;
font:8pt Arial,Helvetica,sans-serif;
border-top: #5d5d5d 1px solid; 
border-bottom: #ffffff 1px solid; 
border-left: #5d5d5d 1px solid; 
border-right: #ffffff 1px solid;
}

#footer {
		color:#B92100;
		font-size:x-small;
}

td.block_title a:link, td.block_title a:visited, td.block_title a:active { font-size:8pt; color:#ADADAD; text-align:center;}
td.block_title a:hover { color:#D0D2D9; text-decoration:none; /*cursor:auto*/}   

.windowbg2 {
font: normal 8pt Arial, Helvetica, sans-serif;
background-image: url('images/row1.gif');
}

.windowbg {
font: normal 8pt Arial, Helvetica, sans-serif;
background-image: url('images/row1.gif');
}

.windowbg3
{
font: normal 8pt Arial, Helvetica, sans-serif;
background-image: url('images/row1.gif');
}

/* Tables should show empty cells. */
table
{
	empty-cells: show;
}

/* Standard horizontal rule.. ([hr], etc.) */
hr, hrcolor {
border-top: 1px solid #888888;
border-bottom: 1px solid #ffffff;
height: 2px;
width: 100%;
}

ul {
	list-style-type: square;
}
.center {
	text-align: center;
}
.justify {
	text-align: justify;
}
.right {
	text-align: right;
}

img {
  border:0px;
}


/* The "Quote:" and "Code:" header parts... */
.quoteheader, .codeheader
{
	color: #ADAD9A;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
	font-size: x-small;
	line-height: 1.2em;
}

/* Generally, those [?] icons.  This makes your cursor a help icon. */
.help
{
	cursor: help;
}

/* /me uses this a lot. (emote, try typing /me in a post.) */
.meaction
{
	color: red;
}

/* The main post box - this makes it as wide as possible. */
.editor
{
	width: 96%;
}

/* Highlighted text - such as search results. */
.highlight
{
	background-color: yellow;
	font-weight: bold;
	color: black;
}

/* the today container in calendar */
.calendar_today
{
	background-color: #A0A0A1;
}

.header {
  font-weight: bold; 
  font-size: 8pt;
  padding: 6px;
  margin: 2px 0 2px 0; 
  color: #272E34; 
  font-family: Tahoma; 
  letter-spacing: 0px; 
  text-decoration: none;
	background-image: url('images/row2.gif');
  border-top: #ffffff 1px solid; 
  border-bottom: #5d5d5d 1px solid; 
  border-left: #ffffff 1px solid; 
  border-right: #5d5d5d 1px solid;
}
.header a, .header a:link, .header a:visited
{
	color: #272E34;
	font-weight: bold;
	font-size: 9pt;
	text-decoration: none;
  margin: 2px 0 2px 0;
	/*border: 1px solid #1A242A;*/
	padding: 4px 4px;
}
.header a:hover, .header a:active
{
	color:#FFF;
	font-weight: bold;
	font-size: 9pt;
	text-decoration: none;
  margin: 2px 0 2px 0;
	background: #850606;
/*	border:1px solid #1A242A;*/
	padding: 4px 4px;
}

li{
list-style-position:inside;
} 

/* Navigation links - for the link tree. */
.nav, .nav:link, .nav:visited
{
	text-decoration: none; font-size:x-small; color:#999;
}
a.nav:hover
{
	text-decoration: none; color:#6C7585;
}

/* These are used primarily for titles, but also for headers (the row that says what everything in the table is.) */
.titlebg, tr.titlebg th, tr.titlebg td, .titlebg2, tr.titlebg2 th, tr.titlebg2 td
{
padding:8px 8px;
font-size: 8pt;
color: #A0A0A1; 
text-decoration: none;
font-family:  arial, helvetica, verdana, sans-serif;
background-image: url('images/row1.gif');
border-top: #ffffff 1px solid; 
border-bottom: #5d5d5d 1px solid; 
border-left: #ffffff 1px solid; 
border-right: #5d5d5d 1px solid;
}
.titlebg, .titlebg a:link, .titlebg a:visited
{
	font-weight: bold;
	color: #f4f4f4;
	font-style: normal;
}

.titlebg a:hover
{
	color: #ADAD9A;
}
/* same as titlebg, but used where bold text is not needed */
.titlebg2 a:link, .titlebg2 a:visited
{
	text-decoration: none; font-size:8pt; color:#ADAD9A;
}

.titlebg2 a:hover
{
	text-decoration: none; color:#6C7585;
}

.titlebg3, tr.titlebg3 th, tr.titlebg3 td
{
	font-style: normal;
	font-size:8pt;
	height:127px;
	background: url(images/dk_bg.gif) #e5e5e5 repeat-x;
	padding-left: 10px;
	padding-right: 10px;
}
/* This is used for categories, page indexes, and several other areas in the forum.
.catbg and .catbg2 is for boardindex, while .catbg3 is for messageindex and display headers*/
.catbg , tr.catbg td , .catbg3 , tr.catbg3 td
{
  background: url(images/tm.gif) #e5e5e5 repeat-x;
	height:35px;
	font-size:8pt;
	color: #000;
	padding-left: 10px;
	padding-right: 10px;
}
.catbg2 , tr.catbg2 td
{
  background: url(images/tm.gif) #e5e5e5 repeat-x;
	height:35px;
	font-size:8pt;
  color: #000;
	padding-left: 10px;
	padding-right: 10px;
}
.catbg, .catbg2, .catbg3
{
	border-bottom: solid 1px #680000;
}
.catbg, .catbg2
{
	font-weight: bold;
}
.catbg3, tr.catbg3 td, .catbg3 a:link, .catbg3 a:visited
{
	font-size:8pt;
	color: #000;
	text-decoration: none;
}
.catbg a:link, .catbg a:visited , .catbg2 a:link, .catbg2 a:visited
{
	color: #000;
	text-decoration: none;
}
.catbg a:hover, .catbg2 a:hover, .catbg3 a:hover
{
	color: #6C7585;
}
/* This is used for tables that have a grid/border background color (such as the topic listing.) */
.bordercolor
{
font: normal 8pt Arial, Helvetica, sans-serif;
background-image: url('images/row1.gif');
border-top: #ffffff 1px solid; 
border-bottom: #5d5d5d 1px solid; 
border-left: #ffffff 1px solid; 
border-right: #5d5d5d 1px solid;
padding: 1px;
}

/* This is used on tables that should just have a border around them. */
.tborder
{
padding: 1px;
border-top: #ffffff 1px solid; 
border-bottom: #5d5d5d 1px solid; 
border-left: #ffffff 1px solid; 
border-right: #5d5d5d 1px solid;
}

/* Default font sizes: small (8pt), normal (10pt), and large (14pt). */
.smalltext
{
	font-size: x-small;
	font-family: verdana, sans-serif;
}
.middletext
{
	font-size: 90%;
}
.normaltext
{
	font-size: small;
}
.largetext
{
	font-size: large;
}


/* Posts and personal messages displayed throughout the forum. */
.post, .personalmessage
{
	width: 100%;
	overflow: auto;
	line-height: 1.3em;
}

/* All the signatures used in the forum.  If your forum users use Mozilla, Opera, or Safari, you might add max-height here ;). */
.signature
{
	width: 100%;
	overflow: auto;
	padding-bottom: 3px;
	line-height: 1.3em;
}

/* Sometimes there will be an error when you post */
.error
{
	color: red;
}
/* THESE ARE FOR THE MENU*/
/* definitions for the main tab, active means the tab reflects which page is displayed */
.maintab_first, .maintab_back, .maintab_last, .maintab_active_first, .maintab_active_back, .maintab_active_last
{
	color: #ADADAD;
}
.maintab_back, .maintab_active_back, .maintab_back2
{
	color: #ADADAD;
	text-decoration: none;
	padding: 0;
	font-family: 9pt tahoma, sans-serif;
}

.maintab_first
{
	display: none;
}
.maintab_back
{

}
.maintab_last
{
	display: none;
}
.maintab_active_first
{
	display: none;
}
.maintab_active_back
{
}
.maintab_active_last
{
	display: none;
}

/* how links behave in main tab. */
.maintab_back a, .maintab_back a:link , .maintab_back a:visited
{
	color: #B92100;
	font-weight: bold;
	text-decoration: none;
	display: block;
	padding: 4px;
	font-size: small;
}

.maintab_back2 a, .maintab_back2 a:link , .maintab_back2 a:visited
{
	color: #ADADAD;
	text-decoration: none;
	display: block;
	padding: 4px;
}

.maintab_active_back a:link , .maintab_active_back a:visited
{
	color: #ADADAD;
	text-decoration: underline;
	display: block;
	padding: 4px;

}

.maintab_back a:hover
{
	color: #464e60;#CA4B01;
  text-decoration: underline;
}
.maintab_back2 a:hover, .maintab_active_back a:hover
{
	color: #ADADAD;#CA4B01;
  text-decoration: underline;
}
/* definitions for the mirror tab */
.mirrortab_first, .mirrortab_back, .mirrortab_last, .mirrortab_active_first, .mirrortab_active_back, .mirrortab_active_last
{
	color: white;
	text-transform: uppercase;
	vertical-align: top;
}
.mirrortab_back, .mirrortab_active_back
{
	color: white;
	text-decoration: none;
	font-size: 9px;
	vertical-align: bottom;
	padding: 6px 6px 2px 6px;
	font-family: tahoma, sans-serif;
}

.mirrortab_first
{
	background: url(images/mirrortab_first.gif) no-repeat;
	width: 10px;
}
.mirrortab_back
{
	background: url(images/mirrortab_back.gif) repeat-x;
}
.mirrortab_last
{
	background: url(images/mirrortab_last.gif) no-repeat;
	width: 6px;
}
.mirrortab_active_first
{
	background: url(images/mirrortab_active_first.gif) no-repeat;
	width: 6px;
}
.mirrortab_active_back
{
	background: url(images/mirrortab_active_back.gif) repeat-x;
}
.mirrortab_active_last
{
	background: url(images/mirrortab_active_last.gif) no-repeat;
	width: 8px;
}

/* how links behave in mirror tab. */
.mirrortab_back a:link , .mirrortab_back a:visited, .mirrortab_active_back a:link , .mirrortab_active_back a:visited
{
	color: white;
	text-decoration: none;
}

.mirrortab_back a:hover, .mirrortab_active_back a:hover
{
	color: #E5E5E5;
	text-decoration: none;
}

/* The AJAX notifier */
#ajax_in_progress
{
	background: #32CD32;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 18pt;
	padding: 3px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
