BODY {
FONT-SIZE: 10px;CURSOR: default; 
COLOR: #838383; 
BACKGROUND-color: #161616; 
FONT-FAMILY:  Verdana, Arial, Helvetica, sans-serif; 
TEXT-DECORATION: none
}


A:link {
FONT-SIZE: 10px; 
COLOR: #a2a2a2; 
FONT-FAMILY:  Verdana, Arial, Helvetica, sans-serif;  
TEXT-DECORATION: none
}

A:visited {
FONT-SIZE: 10px; 
COLOR: #a2a2a2; 
FONT-FAMILY:  Verdana, Arial, Helvetica, sans-serif;  
TEXT-DECORATION: none
}

A:active {
FONT-SIZE: 10px; 
COLOR: #c5c5c5; 
FONT-FAMILY:  Verdana, Arial, Helvetica, sans-serif;  
TEXT-DECORATION: none
}

A:hover {
FONT-SIZE: 10px;
COLOR: #c5c5c5; 
FONT-FAMILY:  Verdana, Arial, Helvetica, sans-serif; 
TEXT-DECORATION: none
}



/* news table */
td.news_01{width:47px;height:33px;}
td.news_01_tile{background-image:url(images/news_01_tile.gif);background-repeat:repeat-x;}
td.news_02{width:110px;height:33px;}
td.news_02_tile{background-image:url(images/news_02_tile.gif);background-repeat:repeat-x;text-align:center;font-weight: bold; padding-top:1px;}
td.news_03{width:47px;height:18px;}
td.news_03_tile{background-image:url(images/news_03_tile.gif);background-repeat:repeat-x;}
td.news_04{width:47px;height:31px;}
td.news_04_tile{background-image:url(images/news_04_tile.gif);background-repeat:repeat-x;}
td.news_05{width:47px;height:28px;}
td.news_05_tile{background-image:url(images/news_05_tile.gif);background-repeat:repeat-x;}
td.news_06{width:47px;height:43px;}
td.news_07{width:47px;height:23px;}
td.news_l_tile{width:47px;background-image:url(images/news_l.gif);background-repeat:repeat-y;}
td.news_cont{background-color:#161616;}
td.news_r_tile{width:47px;background-image:url(images/news_r.gif);background-repeat:repeat-y;}
.mynews{FONT-SIZE: 10px;COLOR: #838383;TEXT-DECORATION: none;FONT-FAMILY:  Verdana, Geneva, Arial, Helvetica, sans-serif;}
.mynews2{FONT-SIZE: 15px;COLOR: #838383;TEXT-DECORATION: none;FONT-FAMILY:  Verdana, Geneva, Arial, Helvetica, sans-serif;}

td.tbl_01{width:79px;height:38px;}
td.tbl_01_tile{background-image:url(images/table1_02_tile.gif);background-repeat:repeat-x;}
td.tbl_l_tile{width:20px;background-image:url(images/table1_05_tile.gif);background-repeat:repeat-y;}
td.tbl_cont{background-color:#161616;}
td.tbl_r_tile{width:20px;background-image:url(images/table1_07_tile.gif);background-repeat:repeat-y;}
td.tbl_02{width:79px;height:48px;}
td.tbl_02_tile{background-image:url(images/table1_09_tile.gif);background-repeat:repeat-x;}



H1 {
FONT-WEIGHT: bold; 
FONT-SIZE: 10px; 
COLOR: #ffffff; 
FONT-FAMILY:  verdana; 
LETTER-SPACING: 0px; 
TEXT-DECORATION: none
}

P {
FONT-SIZE: 10px; 
COLOR: #838383; 
FONT-FAMILY:  Verdana, Arial, Helvetica, sans-serif; LINE-HEIGHT: 1.4; 
FONT-FAMILY:  Verdana, Arial, Helvetica, sans-serif; 
TEXT-DECORATION: none
}



table.lista {
    background-color: #1D1D1D;

}

td.block {
FONT-WEIGHT: bold; 
FONT-SIZE: 10px;
background: url('bar1.gif');
height: 25px;
BORDER-TOP: #3e3e3e 1px solid; 
BORDER-BOTTOM: #000000 1px solid; 
BORDER-LEFT: #3e3e3e 1px solid; 
BORDER-RIGHT: #000000 1px solid; 
COLOR: #FFFFFF; 
FONT-FAMILY: verdana; 
LETTER-SPACING: 0px; 
TEXT-DECORATION: none

}

td.blocklist {
background:url('tables_05.jpg');
BORDER-TOP: #3e3e3e 1px solid; 
BORDER-BOTTOM: #000000 1px solid; 
BORDER-LEFT: #3e3e3e 1px solid; 
BORDER-RIGHT: #000000 1px solid;
}

td.lista {
background-color : #171717;
BORDER-TOP: #3e3e3e 1px solid; 
BORDER-BOTTOM: #000000 1px solid; 
BORDER-LEFT: #3e3e3e 1px solid; 
BORDER-RIGHT: #000000 1px solid;
}

td {
}

td.header {
           font-weight:bold;
           color:#838383;
           padding:0px;
           margin:0px;
           background-color: #1d1d1d;
BORDER-TOP: #3e3e3e 1px solid; 
BORDER-BOTTOM: #000000 1px solid; 
BORDER-LEFT: #3e3e3e 1px solid; 
BORDER-RIGHT: #000000 1px solid;
           background-image: url(tables_05.jpg);
}

td.title {
  font-weight: bold; font-size: 10px ; letter-spacing: 0px; color : #ffffff};
}

td.navigation {
    background-color: #373737;
    font-weight: bold;
    font-size: 8pt;
}

form {
    margin-top: 0;
    margin-bottom: 0;
}

.sublink {
    font-style: italic;
    font-size: 7pt;
    font-weight: normal;
}

a.index {
    font-weight: bold;
}

a.biglink {
    font-weight: bold;
    font-size: 10pt;
}

.important {
    font-weight: bold;
    font-size: 10pt;
}

td.red {
background-color : #171717;
BORDER-TOP: #3e3e3e 1px solid; 
BORDER-BOTTOM: #000000 1px solid; 
BORDER-LEFT: #3e3e3e 1px solid; 
BORDER-RIGHT: #000000 1px solid;
color: red;
}


td.yellow {
background-color : #171717;
BORDER-TOP: #3e3e3e 1px solid; 
BORDER-BOTTOM: #000000 1px solid; 
BORDER-LEFT: #3e3e3e 1px solid; 
BORDER-RIGHT: #000000 1px solid;
color: #BEC635;
}


td.green {
background-color : #171717;
BORDER-TOP: #3e3e3e 1px solid; 
BORDER-BOTTOM: #000000 1px solid; 
BORDER-LEFT: #3e3e3e 1px solid; 
BORDER-RIGHT: #000000 1px solid;
color: green;
}

td.progress {
    padding: 0px;
    background-image: url(backprogress.gif);
    background-repeat: repeat-x;
    height: 10px;
}

td.red a:link {
    color: red;
}
td.red a:visited {
    color: red;
}

td.yellow a:link {
    color: #BEC635;
}
td.yellow a:visited {
    color: #BEC635;
}

td.green a:link {
    color: green;
}

td.green a:visited {
    color: green;
}
li{
list-style-position:inside;
} 

input {
font-size: 10px;
}
input.1 {
background-color : #1C1C1C;
font-size: 10px;
color: #838383;
}