/* the bit that does the work */
body {margin: auto; border:0; padding:0; height:100%; max-height:100%; background: url('back.png') repeat-x; background-attachment: fixed;	background-position: center; font-family: Verdana, Helvetica, sans-serif;font-size: 11px;overflow:auto; }
/* for internet explorer */
* html body {overflow:hidden; scrollbar-face-color:#DEE3E7; scrollbar-highlight-color:#FFFFFF; scrollbar-shadow-color:#DEE3E7; scrollbar-3dlight-color:#D1D7DC; scrollbar-arrow-color:#006699; scrollbar-track-color:#EFEFEF; scrollbar-darkshadow-color:#98AAB1; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10pt; text-align:left; color:#CCCCCC;}

#left {float:left; position:relative; width:160px; left:0px;}

#right {float:right; position:relative; width:170px; right:0px;}

#center {margin-left:160px; margin-right:171px; position:relative; display:block; height:100%;}

#maintable { width:100%; margin: auto;background: #FDFCFE;}

#header { 
  top:0; 
  left:0; 
  width:100%; 
  height:200px; 
  overflow:hidden;
  background-color: #E5EAF3;  
	border-bottom: 1px #000 solid;
}

* html #header {
  height:200px;

}

#header li {
	text-align:center;
	display:inline;
	padding:6px;	
}
	
#header ul {
  margin:0; 
  padding:5; 
  list-style-type:none; 
  background:transparent; 
  height:3em;
  clear:both; 
  text-align:center;
  display:inline;
  font-size:8pt; 
  color:#000;
}
	
td.hdr_red {
  background:#ECECEC;
  text-align:center;
  color: #9C0C00;
	display:inline;
	padding:0px;
}

td.hdr_yellow {
  background:#ECECEC;	
  text-align:center;
  color: #000;
	display:inline;
	padding:0px;
}

td.hdr_green {
  background:#ECECEC;
  text-align:center;
  color: green;
	display:inline;
	padding:0px;
}
#adds-box {padding:10px 0 10px 0; text-align:center; margin:4px 0 4px 0;/* top right bottom left; hide if no content */}
/* Navigation links - Used in the header. */
td.nav, td.nav a:link, td.nav a:visited
{
	color: #000;
	text-decoration: none;
}
td.nav a:hover
{
	color: #EC8601;
	text-decoration: underline;
}
/* Navigation links - Used in the footer. */
.nav { color: #000;}

.nav a:link, .nav a:visited { color:#9C0C00;}

.nav a:hover { color: #9C0C00; text-decoration: underline;}

td.banner { background-image: url('Logo_Back.gif');}

td.menu { padding:2px; background:#EAF1FD; height: 20px; }

td.menu a:link, .menu a:visited {	color: #000; font-weight: bold; background: url('tb2_m.gif') repeat-x;/*background-color: transparent;*/ text-decoration: none; }

td.menu a:hover { color: #FFF; font-weight: bold; height: 22px; text-decoration: none; background: url('menu.gif') center center repeat-x; padding: 2px 4px; margin: 0; text-align: center; border-color: #98aab1; border-style: solid; border-width: 1px 1px 0; }

.chromestyle { display: inline; width: 100%; font-weight: bold; }

.chromestyle a { color: #000; padding: 2px 4px; margin: 0; text-decoration: none; border-color: #98aab1; border-style: solid; border-width: 1px 1px 0; }

h1 {
  font-size: 17px;
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  text-decoration : none;
  line-height : 120%;
  color : #000000;
}
h2 {
  margin : 0;
	background:url('navpic.gif');
  font-family : Arial, Helvetica, sans-serif;
  text-decoration : none;
  line-height : 120%;
  font-size: 12px;
}
td {
  font-family : Verdana, Helvetica, sans-serif;
  border-width: 0px;
}
td.block {
  background:url('block_back.gif');
  background-color: #ececec;
  padding : 0px;
  font-family : Verdana, Helvetica, sans-serif;
  font-size : 10px;
}
td.lista {
  background-color : #ececec;
  padding : 1px;
  font-family : Verdana, Helvetica, sans-serif;
  font-size : 10px;
  border-color : #fff;
  border-style : solid;
  border-width : 1px 1px 0;
}
td.blocklist {
  background-color : #f7f7f7;
  padding : 1px;
  font-family : Verdana, Helvetica, sans-serif;
  font-size : 10px;
  border: #777 solid 1px;
}

td.window {
	color: #000;
	font-weight: bold;
	background-color: #c3d1dc;
	border: 1px inset #444;
}

a, a:link, a:active, a:visited {
  text-decoration : none;
  color : #445588;
}
a:hover {
  text-decoration : none;
  color : #224466;
}
input {
  border : 1px solid #d0d0d0;
  background-color : white;
  color : black;
  font-family : Verdana, serif;
  font-size : 10px;
  font-weight : normal;
}

select {
  color : black;
  background-color : white;
  font-family : Verdana, serif;
  font-size : 10px;
  font-weight : normal;
  border-color : black;
  border-style : solid;
  border-width : 1px;
}

td.f_left {
background: url(bt_left.png) no-repeat; width: 200px; height: 100px; 
}

td.f_middle {
background: url(bt.png) repeat-x; height: 100px;
}

td.f_right {
background: url(bt_right.png) no-repeat; width: 200px; height: 100px;
}

/* Alternating backgrounds for posts, and several other sections of the forum. */
table.post {
	color: #000;
	background-color: #c3d1dc; 
	border: 1px solid; 
}
textarea {
	  color: #000;
	  background: #fff; 
    border-color: #000040;
		border-style: inset;
    border-width: 1px solid;
}
td.last10 {
	color: #000000;
	background-color: #E0E1E8;
		border-style: inset;
    border-width: 1px solid;
    border-color: #000;
}

/* A quote, perhaps from another post. */
table.quote
{
	color: #000000;
	background-color: #D7DAEC;
	border-style: inset;
  border-width: 1px solid;
  border-color: #000;
	margin: 1px;
	padding: 1px;
	font-size: x-small;
	line-height: 1.4em;
}

/* A code block - maybe even PHP ;). */
table.code
{
	color: #000000;
	background-color: #ECECEC;
	font-family: "courier new", "times new roman", monospace;
	font-size: x-small;
	line-height: 1.3em;
	/* Put a nice border around it. */
	border-style: inset;
  border-width: 1px solid;
  border-color: #000;
	margin: 1px auto 1px auto;
	padding: 1px;
	width: 99%;
	/* Don't wrap its contents, and show scrollbars. */
	white-space: wrap;
	overflow: auto;
	/*Stop after about 24 lines, and just show a scrollbar.*/ 
	max-height: 10em;
}

table.nfo {
    color: #EEE;
		font-family: Arial Rounded MT Bold;
		font-size: 10pt;
		font-weight:bold;
		line-height: 10pt;
		background-color: #000;
	  border-color: #ECECEC;
    border-style: inset;
    border-width: 1px solid;
}
table.mainouter {
   border: 1px solid #98aab1;
}
table.lista {
  border: 1px solid #98aab1;
  background-color: transparent;
	font-size: 10pt;
	padding: 2px;
}

p {
	font-size: 8pt;
}

td.embedded {
   border: none;
   padding: 0px;
  text-align: left;
}
td.bottom {
  border: none;
}
td.header {
  background-image: url('hdr.gif');
  background-color : #ececec;
  padding : 4px;
  font-family : Verdana, Helvetica, sans-serif;
  font-size : 10px;
  border-color : #98aab1;
  border-style : solid;
  border-width : 1px 1px 0;


}
td.text {
  padding: 10pt;
  text-align: left;
}
td.comment {
  padding: 10pt;
  font-size: 8pt;
  text-align: left;
}
td.title {
	font-size: 14pt;
}
td.navigation {
	font-weight: bold;
	font-size: 10pt;
   border: none;
}
td.clear {
  padding: 0px;
  border: 0px;
  background: transparent;
}
.sublink {
	font-style: italic;
	font-size: 7pt;
	font-weight: normal;
}
font.gray
{
  color: #ACA899;
  text-decoration: underline;
}
form {
    margin-top: 0;
    margin-bottom: 0;
}

.sublink {
    font-style: italic;
    font-size: 7pt;
    font-weight: normal;
}

a.index {
    font-weight: bold;
}

a.biglink {
    font-weight: bold;
    font-size: 9pt;
}

.important {
    font-weight: bold;
    font-size: 9pt;
}

td.comment {
  background: #AAA;
  border-color : #98aab1;
  border-style : solid;
  border-width : 1px 1px 0;
  color: #006699;
}

td.red {
  background: #AAA;
  border-color : #98aab1;
  border-style : solid;
  border-width : 1px 1px 0;
  color: #9C0C00;
}


td.yellow {
  background: #AAA;
  border-color : #98aab1;
  border-style : solid;
  border-width : 1px 1px 0;
  color: #F1F1A8;
}


td.green {
  background: #AAA;
  border-color : #98aab1;
  border-style : solid;
  border-width : 1px 1px 0;
  color: green;
}

td.progress {
    padding: 0px;
    background-image: url(backprogress.gif);
    background-repeat: repeat-x;
    height: 8px;
}

td.red a:link {
    color: #FF0000;
}
td.red a:visited {
    color: #FF0000;
}

td.yellow a:link {
    color: #BEC635;
}
td.yellow a:visited {
    color: #BEC635;
}

td.green a:link {
    color: #006600;
}

td.green a:visited {
    color: #006600;
}

.btn {
  width: 75px;
  height: 23px;
}
.small {
  font-size: 7pt;
}
.big {
  font-size: 10pt;
}
li {
  margin-top: 6pt;
  margin-bottom: 6pt;
}
ul {
  margin-left: 0pt;
  margin-top: 0px;
  margin-bottom: 0px;
}
.img  
{  
  border:0; 
}
