td.news_01{width:77px;height:31px;}
td.news_01a{width:73px;height:31px;}
td.news_01_tile{background-image:url(images/news_01_tile.gif);background-repeat:repeat-x;padding-top:2px;font-weight:bold;text-align:center;}
td.news_02{width:46px;height:20px;}
td.news_02_tile{background-image:url(images/news_03_tile.gif);background-repeat:repeat-x;}
td.news_03col{background-color:#252525;padding:3px;}
td.news_04{width:13px;height:26px;}
td.news_04_tile_l{background-image:url(images/news_l.gif);background-repeat:repeat-y;}
td.news_04_tile_r{background-image:url(images/news_r.gif);background-repeat:repeat-y;}
td.news_05{width:70px;height:49px;}
td.news_05_tile{background-image:url(images/news_07_tile.gif);background-repeat:repeat-x;}
td.msg_01{width:125px;height:56px;}
td.msg_01_tile{background-image:url(images/msg_01_tile.gif);background-repeat:repeat-x;}
td.msg_02{width:126px;}
td.msg_03{width:59px;}
td.msg_04{width:18px;background-image:url(images/msg_l.gif);background-repeat:repeat-y;}
td.msg_04col{background-color:#252525;padding:3px;}
td.msg_05{width:18px;background-image:url(images/msg_r.gif);background-repeat:repeat-y;}
td.msg_06{width:87px;height:33px;}
td.msg_06_tile{background-image:url(images/msg_04_tile.gif);background-repeat:repeat-x;}
td.msg_07{width:104px;}
td.block_01{width:188px;height:26px;}
td.block_02{width:28px;height:22px;}
td.block_02_tile{background-image:url(images/block_02_tile.jpg);background-repeat:repeat-x;font-weight:bold;text-align:center;}
td.block_03{width:50px;height:22px;}
td.block_03_tile{background-image:url(images/block_04_tile.jpg);background-repeat:repeat-x;}
td.block_04{width:56px;}
td.block_05_tile{width:21px;background-image:url(images/block_l.gif);background-repeat:repeat-y;}
td.block_05col{background-color:#252525;padding:3px;}
td.block_06_tile{width:21px;background-image:url(images/block_r.gif);background-repeat:repeat-y;}
td.block_07{width:47px;height:33px;}
td.block_08{width:188px;height:39px;}
td.block_09{width:47px;height:36px;}
td.block_09_tile{background-image:url(images/block_06_tile.gif);background-repeat:repeat-x;}
td.head_01{width:51px;height:187px;}
td.head_02{width:50px;background-image:url(images/bnr_02.gif);background-repeat:no-repeat;}
td.head_03{width:51px;background-image:url(images/bnr_03.gif);background-repeat:no-repeat;}
td.head_04{width:51px;background-image:url(images/bnr_04.gif);background-repeat:no-repeat;}
td.head_05{background-image:url(images/bnr_04_tile.gif);background-repeat:repeat-x;}
table.tabsup{width:407px;}
td.tdsup{width:407px;}
td.head_06{width:51px;height:75px;}
td.head_07{width:51px;background-image:url(images/bnr_u_01_02.gif);background-repeat:no-repeat;}
td.head_08{width:51px;background-image:url(images/bnr_u_02.gif);background-repeat:no-repeat;}
td.head_09{width:51px;background-image:url(images/bnr_u_03.gif);background-repeat:no-repeat;}
td.head_10{width:51px;background-image:url(images/bnr_u_04_01.gif);background-repeat:no-repeat;}
td.head_11{width:51px;background-image:url(images/bnr_05.gif);background-repeat:no-repeat;}
td.head_12{width:51px;background-image:url(images/bnr_06.gif);background-repeat:no-repeat;}
td.head_13{width:51px;background-image:url(images/bnr_07.gif);background-repeat:no-repeat;}
td.head_logo{width:407px;height:72px;}
td.head_menu{width:407px;height:123px;}
td.head_14{width:51px;height:83px;}
td.head_15{width:50px;background-image:url(images/bnr_10.jpg);background-repeat:no-repeat;}
td.head_16{width:51px;background-image:url(images/bnr_11.jpg);background-repeat:no-repeat;}
td.head_17{width:51px;background-image:url(images/bnr_12.gif);background-repeat:no-repeat;}
td.head_18{background-image:url(images/bnr_12_tile.gif);background-repeat:repeat-x;}
td.head_19{width:51px;background-image:url(images/bnr_13.gif);background-repeat:no-repeat;}
td.head_20{width:51px;background-image:url(images/bnr_14.jpg);background-repeat:no-repeat;}
td.head_21{width:51px;background-image:url(images/bnr_15.jpg);background-repeat:no-repeat;}
td.foot_01{width:71px;height:60px;}
td.foot_01_tile{background-image:url(images/foot_tile.gif);background-repeat:repeat-x;}
td.foot_03{width:12px;height:73px;}
td.foot_03_tile{background-image:url(images/foot_01_tile.gif);background-repeat:repeat-x;}
td.foot_main{background-color:#000000;padding:5px;text-align:center;  }
td.foot_05{width:202px;height:44px;}
td.foot_05_tile{background-image:url(images/foot_03_tile.gif);background-repeat:repeat-x;}
td.over_01{width:47px;height:38px;}
td.over_02{width:46px;}
td.over_03_tile{background-image:url(forums/images/over_03_tile.gif);background-repeat:repeat-x;}
td.over_04{width:23px;height:65px;}
td.over_04_tile{background-image:url(forums/images/over_07_tile.gif);background-repeat:repeat-x;text-align:center;}
td.over_05{width:43px;}
td.over_06{width:47px;height:52px;}
td.over_07{width:46px;}
td.over_08_tile{background-image:url(forums/images/over_11_tile.gif);background-repeat:repeat-x;}
td.over_09{width:104px;}
BODY {
margin: 0px;
FONT-SIZE: 11px; 
CURSOR: default; 
COLOR: #D4D0C8; 
BACKGROUND-color: #000000; 
FONT-FAMILY:  Verdana, Geneva, Arial, Helvetica, sans-serif; 
TEXT-DECORATION: none
    scrollbar-face-color: #DCE7F1;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-arrow-color:  #006699;
    scrollbar-track-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
}
A:link {FONT-SIZE:11px;COLOR: #F2C43D;FONT-FAMILY:  Verdana, Geneva, Arial, Helvetica, sans-serif;TEXT-DECORATION: none}
A:visited {FONT-SIZE: 11px;COLOR: #F2C43D;FONT-FAMILY:  Verdana, Geneva, Arial, Helvetica, sans-serif;TEXT-DECORATION: none}
A:active {FONT-SIZE: 11px;COLOR: #F2C43D;FONT-FAMILY:  Verdana, Geneva, Arial, Helvetica, sans-serif;TEXT-DECORATION: none}
A:hover {FONT-SIZE: 11px;COLOR: #f39a00;FONT-FAMILY:  Verdana, Geneva, Arial, Helvetica, sans-serif;TEXT-DECORATION: none}
BODY {margin: 0px;FONT-SIZE: 11px;CURSOR: default;COLOR: #D4D0C8;BACKGROUND-color: #000000;FONT-FAMILY:  Verdana, Geneva, Arial, Helvetica, sans-serif;TEXT-DECORATION: none}
TEXTAREA {background:#CCCCCC;color:#000000;font:11px Verdana,Arial,Helvetica,sans-serif;BORDER-TOP: #FFFFFF 1px solid;BORDER-BOTTOM: #707070 1px solid;BORDER-LEFT: #FFFFFF 1px solid;BORDER-RIGHT: #707070 1px solid;}
P {FONT-SIZE: 12px;COLOR: #D4D0C8;LINE-HEIGHT: 1.4;FONT-FAMILY:  Verdana, Geneva, Arial, Helvetica, sans-serif;TEXT-DECORATION: none}
td.myblocktit{FONT-SIZE: 11px;COLOR: #E3E307;TEXT-DECORATION: none;FONT-FAMILY:  Verdana, Geneva, Arial, Helvetica, sans-serif;}
TABLE {FONT-SIZE: 11px;COLOR: #D4D0C8;FONT-FAMILY:  Verdana, Geneva, Arial, Helvetica, sans-serif;TEXT-DECORATION: none}
TD.content {BORDER-RIGHT: #707070 1px solid;BORDER-TOP: #FFFFFF 1px solid;BORDER-BOTTOM: #707070 1px solid;BORDER-LEFT: #FFFFFF 1px solid;FONT-SIZE: 11px;COLOR: #D4D0C8;BACKGROUND-COLOR: #5C5D61;TEXT-DECORATION: none;FONT-FAMILY:  Verdana, Geneva, Arial, Helvetica, sans-serif;}
.content{FONT-SIZE: 11px;COLOR: #D4D0C8;TEXT-DECORATION: none;FONT-FAMILY:  Verdana, Geneva, Arial, Helvetica, sans-serif;}
.mynews{FONT-SIZE: 10px;COLOR: #B6B257;TEXT-DECORATION: none;FONT-FAMILY:  Verdana, Geneva, Arial, Helvetica, sans-serif;}
TD.extra {BORDER-BOTTOM: #666666 1px dashed;}
TD.extras {background:#252525;BORDER-RIGHT: #707070 1px solid;BORDER-TOP: #707070 1px solid;BORDER-BOTTOM: #707070 1px solid;BORDER-LEFT: #707070 1px solid;}
TD.extrafoot {background:#252525;BORDER-RIGHT: #ffffff 1px solid;BORDER-TOP: #707070 1px solid;BORDER-BOTTOM: #ffffff 1px solid;BORDER-LEFT: #707070 1px solid;}
TD.story {background:#252525;color:#000000;font:11px Verdana,Arial,Helvetica,sans-serif;BORDER-RIGHT: #707070 1px solid;BORDER-TOP: #FFFFFF 1px solid;BORDER-BOTTOM: #707070 1px solid;BORDER-LEFT: #FFFFFF 1px solid;}
hr {border-top: 1px solid #FFFFFF;border-bottom: 1px solid #707070;color: transparent;background-color: transparent;height: 2px;width: 94%;}
UL {LIST-STYLE-TYPE: square}
.center {TEXT-ALIGN: center}
.justify {TEXT-ALIGN: justify}
.right {TEXT-ALIGN: right}

p {
    font-size: 10pt;
}


table.lista {
    background-color: #232222;
    border: 1px #000000 ridge;
}

td.block {
FONT-WEIGHT: bold; 
FONT-SIZE: 10px;
background-color: #000000;
background-image: url(images/block_02_tile.jpg);
height: 22px; 
COLOR: #FFFFFF; 
FONT-FAMILY: verdana; 
LETTER-SPACING: 0px; 
TEXT-DECORATION: none

}


td.blocklist {
background-color : #000000;
BORDER-TOP: #3e3e3e 1px solid; 
BORDER-BOTTOM: #000000 1px solid; 
BORDER-LEFT: #3e3e3e 1px solid; 
BORDER-RIGHT: #000000 1px solid; 
}

td.lista {
background-color : #171717;
BORDER-TOP: #3e3e3e 1px solid; 
BORDER-BOTTOM: #000000 1px solid; 
BORDER-LEFT: #3e3e3e 1px solid; 
BORDER-RIGHT: #000000 1px solid;
    color : white;
    font-size: 8pt;
}

td.header {
           font-weight:bold;
           color:#FFFFFF;
           padding:0px;
           margin:0px;
           background-color: #3860BB;
           background-image: url(row3.gif);
           height: 34px;
}

td.title {
    font-weight: bold; font-size: 10px ; letter-spacing: 0px; color : #00EE00};
}

td.navigation {
    background-color: #FAFCFE;
    font-weight: bold;
    font-size: 8pt;
}

form {
    margin-top: 0;
    margin-bottom: 0;
}

.sublink {
    font-style: italic;
    font-size: 7pt;
    font-weight: normal;
}

a.index {
    font-weight: bold;
}

a.biglink {
    font-weight: bold;
    font-size: 10pt;
}

.important {
    font-weight: bold;
    font-size: 10pt;
}

td.red {
background-color : #171717;
BORDER-TOP: #3e3e3e 1px solid; 
BORDER-BOTTOM: #000000 1px solid; 
BORDER-LEFT: #3e3e3e 1px solid; 
BORDER-RIGHT: #000000 1px solid;
    color: red;
}


td.yellow {
background-color : #171717;
BORDER-TOP: #3e3e3e 1px solid; 
BORDER-BOTTOM: #000000 1px solid; 
BORDER-LEFT: #3e3e3e 1px solid; 
BORDER-RIGHT: #000000 1px solid;
    color: #BEC635;
}


td.green {
background-color : #171717;
BORDER-TOP: #3e3e3e 1px solid; 
BORDER-BOTTOM: #000000 1px solid; 
BORDER-LEFT: #3e3e3e 1px solid; 
BORDER-RIGHT: #000000 1px solid;
    color: green;
}

td.progress {
    padding: 0px;
    background-image: url(backprogress.gif);
    background-repeat: repeat-x;
    height: 10px;
}

td.red a:link {
    color: red;
}
td.red a:visited {
    color: red;
}

td.yellow a:link {
    color: #BEC635;
}
td.yellow a:visited {
    color: #BEC635;
}

td.green a:link {
    color: green;
}

td.green a:visited {
    color: green;
}
li{
list-style-position:inside;
} 

input {
font-size: 10px;
}
input.1 {
background-color : #1C1C1C;
font-size: 10px;
color: #01A601;
}
