body {
    font-family: "tahoma", "arial", "helvetica", "sans-serif";
    font-size: 8pt;
	color: #fff;
    background: #000 url(background.jpg) repeat-x top;
    background-image:url(background.jpg) repeat-x top;
    scrollbar-face-color: #DCE7F1;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-arrow-color:  #006699;
    scrollbar-track-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
}
a:link,a:active,a:visited { text-decoration: none; color : #58c93d; }
a:hover        { text-decoration: underline; color : #8fef79; }

h1 {
    font-size: 10pt;
}

p {
    font-size: 8pt;
}

p1 {
    font-size: 7pt;
}

table.lista {
    background-color: #606060;
    border: 1px #515151 solid;
}

table.mainm {
    background-color: #515151;
    border: 1px #313131 solid;
}

table.mainm-dark {
    background-color: #313131;
    border: none;
}

table.bg {
    background-color: #313131;
    border: 1px #000 solid;
    border-spacing: 0px;
    border-style: inset;
}

td.block {
         border:1px solid #313131;
         background-color: #000;
         background-image:url(blockbg.jpg);
         padding:0px;
         margin:0px;
         font-size: 10pt;
         color: #fff;
}

td.blocklist {
         background-color: #313131;
         padding:2px;
         margin:1px;
         font-size: 7pt;
         font-weight: bold;
         color: #FFF;
}

td.lista {
    background-color:#313131;
    color : #b2b2b2;
    font-size: 8pt;
}

td {
}

td.header {
           font-weight:bold;
           color:#ffffff;
           padding:7px;
           margin:0px;
           background-color: #313131;
           background-image: none;
}

td.header-copy {
           font-weight:bold;
           color:#3A4F6C;
           padding:7px;
           margin:0px;
           background-color: #3860BB;
           background-image: url(header_back.gif);
}

td.mainm {
           font-weight:bold;
           color:#fff;
           padding:2px;
           margin:0px;
           background-color: #515151;
           background-image: none;
}

td.mainm-dark {
           font-weight:none;
           color:#fff;
           padding:2px;
           margin:0px;
           background-color: #313131;
           background-image: none;
}

td.title {
    font-size: 8pt;
}

td.navigation {
    background-color: #FAFCFE;
    font-weight: bold;
    font-size: 8pt;
}

form {
    margin-top: 0;
    margin-bottom: 0;
}

.sublink {
    font-style: italic;
    font-size: 7pt;
    font-weight: normal;
}

a.index {
    font-weight: bold;
}

a.biglink {
    font-weight: bold;
    font-size: 10pt;
}

.important {
    font-weight: bold;
    font-size: 10pt;
}

td.red {
    background-color: #313131;
    color: red;
}


td.yellow {
    background-color: #313131;
    color: #BEC635;
}


td.green {
    background-color: #313131;
    color: green;
}

td.red2 {
    background-color: #313131;
    color: red;
}


td.yellow2 {
    background-color: #313131;
    color: #BEC635;
}


td.green2 {
    background-color: #313131;
    color: green;
}

td.progress {
    padding: 0px;
    background-image: url(backprogress.gif);
    background-repeat: repeat-x;
    height: 10px;
}

td.red a:link {
    color: red;
}
td.red a:visited {
    color: red;
}

td.yellow a:link {
    color: #BEC635;
}
td.yellow a:visited {
    color: #BEC635;
}

td.green a:link {
    color: green;
}

td.green a:visited {
    color: green;
}
li{
list-style-position:inside;
} 