/* Dilber Theme*/
.maindiv
{
	border-left: 1px solid #7F88B2;
	border-right: 1px solid #7F88B2;
	border-bottom: 2px solid #7F88B2;
	background: #FBFBFD;
}
.mainpage
{
	background: #FBFBFD url(images/lightviolet/mainpage.gif) repeat-x;
}

.topbar
{
	background: #7F88B2 url(images/lightviolet/topbar.gif) repeat-x;
}

.topbar2
{
	background: #B2BBE5 url(images/lightviolet/topbar2.gif) repeat-x;
}
.menubar
{
	background: #7F88B2 url(images/lightviolet/menubar.gif) repeat-x;
	color: #FFFFFF;		
}
.menubg , tr.menubg td
{
	background: #7F88B2 url(images/lightviolet/menubar.gif) repeat-x;
	color: #FFFFFF;
}

.menubg2 , tr.menubg2 td
{
	background: #4C557F url(images/lightviolet/menubarSelected.gif) repeat-x;
	color: #FFFFFF;
}
.menubg a:link, .menubg a:visited , .menubg2 a:link, .menubg2 a:visited 
{
	color: #FFFFFF;
}
.menubg a:hover, .menubg2 a:hover
{
	color: #EDE8F7;
}

.memberbardiv
{
	background: transparent url(images/lightviolet/memberbar.gif) repeat-x;
}
.memberbardivbottom
{
	background: transparent url(images/lightviolet/memberbar2.gif) repeat-x;
}

.memberbar, tr.memberbar td
{
}
.memberbar a:link, .memberbar a:visited 
{
	color: #4C557F;
}
.memberbar a:hover
{
	color: #4062BF;
}


/* Normal, standard links. */
a:link
{
	color: #4C557F;
}
a:visited
{
	color: #4C557F;
}
a:hover
{
}

/* Navigation links - for the link tree. */
.nav, .nav:link, .nav:visited
{
	color: #4C557F;
}
a.nav:hover
{
	color: #4062BF;
}

/* Tables should show empty cells. */
table
{
}

/* By default (td, body..) use verdana in black. */
body, td, th , tr
{
	color: #000000;
}

/* The main body of the entire forum. */
body
{
	background-color: #B2BBE5;
}

/* Input boxes - just a bit smaller than normal so they align well. */
input, textarea, button
{
	color: #000000;
}
input, button
{
}

textarea
{
	color: #000000;
}

/* All input elements that are checkboxes or radio buttons. */
input.check
{
}

/* Selects are a bit smaller, because it makes them look even better 8). */
select
{
	color: #000000;
}

/* Standard horizontal rule.. ([hr], etc.) */
hr, .hrcolor
{
	color: #666666;
	background-color: #666666;
}


/* A quote, perhaps from another post. */
.quote
{
	color: #000000;
	background-color: #EBECF5;
	border: 1px solid #000000;
}

/* A code block - maybe even PHP ;). */
.code
{
	color: #000000;
	background-color: #EEEEEE;
	/* Put a nice border around it. */
	border: 1px solid #000000;
}

/* The "Quote:" and "Code:" header parts... */
.quoteheader, .codeheader
{
	color: #000000;
}


/* /me uses this a lot. (emote, try typing /me in a post.) */
.meaction
{
	color: red;
}

/* Highlighted text - such as search results. */
.highlight
{
	background-color: yellow;
}
/* The new icon */

.newicon a:link, .newicon a:visited
{
        background-color: #FFFFFF;
        border: #7F88B2 1px solid;
        color: #666666;
}

/* Alternating backgrounds for posts, and several other sections of the forum. */
.windowbg
{
	color: #000000;
	background: #E3E5F0 url(images/lightviolet/windowbg.gif) repeat-y;
}
.windowbg2
{
	color: #000000;
	background: #FBFBFD url(images/lightviolet/windowbg2.gif) repeat-x;
}
.windowbg3
{
	color: #000000;
	background: #D0D5ED url(images/lightviolet/windowbg3.gif) repeat-y;
}
/* the today container in calendar */
.calendar_today
{
	background-color: #FFFFFF;
}

/* These are used primarily for titles, but also for headers (the row that says what everything in the table is.) */
.titlebg, tr.titlebg th, tr.titlebg td, .titlebg2, tr.titlebg2 th, tr.titlebg2 td
{
	color: black;
	background-color: #D0D5ED;
	background-image: url(images/lightviolet/titlebg.gif);
	border-bottom: solid 1px #A4A8B6;
	border-top: solid 1px #FFFFFF;
}
.titlebg, .titlebg a:link, .titlebg a:visited
{
	color: black;
}

.titlebg a:hover
{
	color: #404040;
}
/* same as titlebg, but used where bold text is not needed */
.titlebg2 a:link, .titlebg2 a:visited
{
	color: black;
}

.titlebg2 a:hover
{
}
.titlebg3, tr.titlebg3 th, tr.titlebg3 td
{
	color: #FFFFFF;
	background-color: #D0D5ED;
	background-image: url(images/lightviolet/titlebg.gif);
	background-repeat: repeat-x;
}

/* This is used for categories, page indexes, and several other areas in the forum.
.catbg and .catbg2 is for boardindex, while .catbg3 is for messageindex and display headers*/
.catbg , tr.catbg td , .catbg3 , tr.catbg3 td
{
	background-image: url(images/lightviolet/catbg.gif);
	background-color: #939AC3;
	color: #FFFFFF;
}
.catbg2 , tr.catbg2 td
{
	background-image: url(images/lightviolet/catbg.gif);
	background-color: #939AC3;
	color: #FFFFFF;
}
.catbg, .catbg2, .catbg3
{
	border-bottom: solid 0px #474B66;
	background-repeat: repeat-x;
}
.catbg, .catbg2
{
}
.catbg3, tr.catbg3 td, .catbg3 a:link, .catbg3 a:visited
{
	color: #FFFFFF;
}
.catbg a:link, .catbg a:visited , .catbg2 a:link, .catbg2 a:visited
{
	color: #FFFFFF;
}
.catbg a:hover, .catbg2 a:hover, .catbg3 a:hover
{
	color: #EDE8F7;
}
/* This is used for tables that have a grid/border background color (such as the topic listing.) */
.bordercolor
{
	background-color: #D0D2D8;
}

/* This is used on tables that should just have a border around them. */
.tborder
{
	border: 1px solid #7F88B2;
	background-color: #FFFFFF;
}



/* Sometimes there will be an error when you post */
.error{
	color: red;
}


/* definitions for the main tab, active means the tab reflects which page is displayed */
.maintab_first, .maintab_back, .maintab_last, .maintab_active_first, .maintab_active_back, .maintab_active_last
{
	color: #FFFFFF;
}

.maintab_first
{
	background-image: url(images/lightviolet/maintab_first.gif);
}
.maintab_back
{
	background-image: url(images/lightviolet/maintab_back.gif);
}
.maintab_last
{
	background-image: url(images/lightviolet/maintab_last.gif);
}
.maintab_active_first
{
	background-image: url(images/lightviolet/maintab_active_first.gif);
}
.maintab_active_back
{
	background-image: url(images/lightviolet/maintab_active_back.gif);
}
.maintab_active_last
{
	background-image: url(images/lightviolet/maintab_active_last.gif);
}

/* how links behave in main tab. */
.maintab_back a:link , .maintab_back a:visited, .maintab_active_back a:link , .maintab_active_back a:visited
{
	color: #FFFFFF;
}

.maintab_back a:hover, .maintab_active_back a:hover
{
	color: #EDE8F7;
}
/* definitions for the mirror tab */
.mirrortab_first, .mirrortab_back, .mirrortab_last, .mirrortab_active_first, .mirrortab_active_back, .mirrortab_active_last
{
	color: #FFFFFF;

}
.mirrortab_back, .mirrortab_active_back
{
	color: #FFFFFF;
}

.mirrortab_first
{
	background-image: url(images/lightviolet/mirrortab_first.gif);
}
.mirrortab_back
{
	background-image: url(images/lightviolet/mirrortab_back.gif);
}
.mirrortab_last
{
	background-image: url(images/lightviolet/mirrortab_last.gif);
}
.mirrortab_active_first
{
	background-image: url(images/lightviolet/mirrortab_active_first.gif);
}
.mirrortab_active_back
{
	background-image: url(images/lightviolet/mirrortab_active_back.gif);
}
.mirrortab_active_last
{
	background-image: url(images/lightviolet/mirrortab_active_last.gif);
}

/* how links behave in mirror tab. */
.mirrortab_back a:link , .mirrortab_back a:visited, .mirrortab_active_back a:link , .mirrortab_active_back a:visited
{
	color: #FFFFFF;
}

.mirrortab_back a:hover, .mirrortab_active_back a:hover
{
	color: #EDE8F7;
}

.mainstrip, .mainstrip_first, .mainstrip_last
{
	color: #FFFFFF;
}
.mainstrip_first
{
	background-image: url(images/lightviolet/mainstrip_first.gif);
}
.mainstrip_last
{
	background-image: url(images/lightviolet/mainstrip_last.gif);
}
.mainstrip
{
	background-image: url(images/lightviolet/mainstrip.gif);
}
.mainstrip a:link , .mainstrip a:visited
{
	color: #FFFFFF;
}

.mainstrip a:hover, .mainstrip a:hover
{
	color: #EDE8F7;
}
/* The AJAX notifier */
.ajax_in_progress
{
	background: #8DF39D url(images/lightviolet/loading.gif) repeat-x;
	color: white;
}